
  <div class="mt-5 ms-4">
  <br>
  <br>
  <br>
  <h2>Choose new dates</h2>
    <div  data-controller="bookingpicker" data-bookingpicker-dates-value="<%= [@fane.start_date&.strftime("%Y-%m-%d"), @fane.end_date&.strftime("%Y-%m-%d") ] %>" >
    <%= simple_form_for [@fane, @booking] do |f| %>
        <%= text_field_tag "jdkg", nil , data: { bookingpicker_target: "picker" } %>
        <%= f.hidden_field :start_date, data: { bookingpicker_target: "start" } %>
        <%= f.hidden_field :end_date, data: { bookingpicker_target: "end" } %>
        <%= f.submit "Submit booking", class: "btn btn-primary btn-width" %>
      <% end %>
    </div>
  </div>
