<div class="container">
  <h1><strong>Bookings</strong></h1>

  <div class="card_index">
    <% @bookings.each do |booking| %>
      <div class="card">
        <% if booking.fane.photos.attached? %>
          <%= cl_image_tag(booking.fane.photos.first.key, height: 200, crop: :fill) %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= booking.fane.title %></h2>
          <p>Available : <%= booking.start_date%> to <%= booking.end_date%> </p>
          <p>Total price : <%= (booking.fane.price_per_day * (booking.end_date - booking.start_date).to_i) %> €</p>
        </div>
        <div>
          <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
          <i class="fa-regular fa-trash-can fa-beat style=--fa-animation-duration: 0.6s; fa-3x"></i>
          <% end %>
          <%= link_to edit_fane_booking_path(booking.fane, booking) do %>
          <i class="fa-regular fa-pen-to-square fa-beat style=--fa-animation-duration: 0.6s; fa-3x"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
