<div class="container">
  <h1><strong>Bookings</strong></h1>

  <% @bookings.each do |booking| %>
    <div class="card-product">
      <% if booking.fane.photos.attached? %>
        <%= cl_image_tag(booking.fane.photos.first.key, height: 200, crop: :fill) %>
      <% end %>

      <div class="card-product-infos">
        <h2><%= booking.fane.title %></h2>
        <p>Available : <%= booking.start_date%> to <%= booking.end_date%> </p>
        <%= link_to "delete" , booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
