<h1>You can make you're new booking</h1>
<%= simple_form_for [@fane, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<%= console %>
