<div  data-toggle-target="togglableElement" class="invisible" data-controller="datepicker">
  <%= simple_form_for(@fane) do |f| %>
    <%= f.input :title %>
    <%= f.input :brand %>
    <%= text_field_tag "jdkg", nil , data: { datepicker_target: "picker" } %>
    <%= f.hidden_field :start_date, data: { datepicker_target: "start" } %>
    <%= f.hidden_field :end_date, data: { datepicker_target: "end" } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Submit fane", class: "btn btn-primary" %>
  <% end %>
</div>
