<div class= "ban">
  <%= image_tag('banniere.jpg', class: 'img-fluid', alt: 'Bannière ventilo') %>
  <div class="slogan-overlay">
    <h2><strong>Rafraîchissez Votre Espace, Rafraîchissez Votre Vie.</strong></h2>
  </div>
</div>

</div>
<div class= "text-center">
<br>
  <h1>Les offres du moment!</h1>
  <br>
</div>

<div class= "card_index">
  <% @fanes.each do |fane| %>
    <div class="card">
      <% if fane.photos.attached? %>
        <%= cl_image_tag(fane.photos.first.key, crop: :fill) %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%=fane.title %></h5>
        <div class= "bulle_g">
          <p class= "bulle">Silencieux</p>
          <p class= "bulle">Connecté</p>
          <p class= "bulle">Économique</p>
        </div>
        <%= link_to "go" , fane_path(fane), class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class= "banniere_2">
  <img src="https://media.istockphoto.com/id/108219827/fr/photo/beagle-et-dun-ventilateur-avec-envoyer-les-oreilles.jpg?s=612x612&w=0&k=20&c=Kw0PjAXQvObBIGdFIwuhcWl3s8_8WCbQDwFLTXgXPUQ=" class="img-fluid" alt="bannière 2">
  <div class="slogan-banniere">
    <h2><strong>Un Ventilateur Qui Décoiffe : Rafraîchissement et Style à la Puissance Maximale !</strong></h2>
  </div>
</div>
