<h1> Index <%= @user.name %> </h1>

<% @fanes.each do |fane| %>
<p><%= fane.brand %> - </p>
<% end %>

<ul>
    <li><%= fane.brand %></li>
    <li><%= fane.start_date %></li>
    <li><%= fane.end_date  %></li>
    <li><%= fane.validation%></li>
 <% end %>
</ul>
