<div class="container">
  <h1> Hello <%= current_user.name %></h1>
  <% if @fanes.count == 0 %>
    <h4><%= "You have no fane" %> </h4>
    <% else %>
    <h4> <%= "Here all your fanes" %> </h4>
    <div class= "card_index">
      <% @fanes.each do |fane| %>
        <%= link_to fane_path(fane) do %>
          <div class="card">
            <% if fane.photos.attached? %>
              <%= cl_image_tag(fane.photos.first.key, height: 200, crop: :fill) %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= fane.title %></h5>
              <h5 class="card-title"><%= fane.price_per_day %></h5>
              <div class= "bulle_g">
                <p class= "bulle">Silent</p>
                <p class= "bulle">Connected</p>
                <button><%= link_to "update", edit_fane_path(fane)%></button>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>


  <%# STIMULUS POUR AJOUTER UN FANE %>
  <div data-controller="toggle" class="mt-5" class="d-none">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new fane</button>
    <div  data-toggle-target="togglableElement" class="invisible" data-controller="datepicker">
      <%= render "form", fane: @fane %>
    </div>
  </div>
</div>
