<h1>New fanes for user</h1>

<p> Ici mettre le form avec<strong>cloudinary</strong></p>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>

