<div class= "img_container">
  <% @fane.photos.each do |photo|%>
    <%= cl_image_tag(photo.key, crop: :fill, class: "img_client") %>
</div>
  <%end%>

<h2 class= "title_show"><%= @fane.title %></h2>

<div class= "brand">
  <h2 class= "marque"><%= @fane.brand %></h2>
</div>

<p>A propos du  ventilateur.</p>
<h2><%= @fane.description %></h2>

<h2><%= @fane.start_date %></h2>

<h2><%= @fane.end_date %></h2>

<% unless @fane.user == current_user || !user_signed_in?%>
<div data-controller="toggle" class="mt-5" class="d-none">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new booking</button>
  <%= render "bookings/form", fane:@fane, booking: @booking %>
</div>
<% end %>
