<div class= "img_container">
  <% @fane.photos.each do |photo|%>
    <%= cl_image_tag(photo.key, crop: :fill, class: "img_client") %>
</div>
  <%end%>
<div class= "container_show">
  <div class= "brand">
  <p class= "police">Marque</p>
    <h2 class= "marque"><%= @fane.brand %></h2>
  </div>
  <div class= "start_date">
  <p class= "police">Start date</p>
    <h2 class= "start"><%= @fane.start_date %></h2>
  </div>

  <div class= "end_date">
   <p class= "police">End date</p>
    <h2 class= "end"><%= @fane.end_date %></h2>
  </div>
</div>

<h2 class= "title_show"><%= @fane.title %></h2>


<p class= "vent">A propos du  ventilateur.</p>
<div class= "description">
  <h2><%= @fane.description %></h2>
</div>

<% unless @fane.user == current_user || !user_signed_in?%>
<div data-controller="toggle" class="mt-5" class="d-none">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new booking</button>
  <%= render "bookings/form", fane:@fane, booking: @booking %>
</div>
<% end %>
