<% @fane.photos.each do |photo|%>
  <%= photo %>
<%end%>

<h2><%= @fane.title %></h2>
<h2><%= @fane.brand %></h2>
<h2><%= @fane.description %></h2>
<h2><%= @fane.start_date %></h2>
<h2><%= @fane.end_date %></h2>
